// color viriables

$color-SoftBlue: hsl(215, 51%, 70%);
$color-Cyan: hsl(178, 100%, 50%);
$color-Cyan-light: hsla(178, 100%, 50%, 0.5);
$color-DarkBlueI: hsl(217, 54%, 11%);
$color-DarkBlueI-shadow: hsl(217, 51%, 9%);
$color-DarkBlueII: hsl(216, 50%, 16%);
$color-DarkBlueIII: hsl(215, 32%, 27%);
$color-White: hsl(0, 0%, 100%);

// font family variables

$Outfit: 'Outfit', sans-serif;
