//colors variables
$color-PaleBlue: hsl(225, 100%, 94%);
$color-BrightBlue: hsl(245, 75%, 52%);

$color-VeryPaleBlue: hsl(225, 100%, 98%);
$color-DesaturedBlue: hsl(224, 23%, 55%);
$color-DarkBlue: hsl(223, 47%, 23%);
$color-BlueShadow: hsl(245deg 75% 52% / 25%);
$color-PurpleHover: hsl(253, 73%, 68%);
$color-White: hsl(0, 0%, 100%);

//font variables
$font-RedHatDisplay: 'Red Hat Display', sans-serif;