//colors variavles
$color-DarkViolet: hsl(257, 37%, 33%);
$color-Violet: hsl(257, 40%, 49%);
$color-SoftMagenta: hsl(300, 69%, 71%);
$color-White: hsl(0, 0, 100%);
//fonts variables
$font-Poppins: 'Poppins', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;

