@import '../abstract/variables';

.card {
    background-color: $color-White;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    max-width: 320px;
    border-radius: 1rem;

    &__image {
        display: block;
        max-width: 100%;
        border-radius: 0.5rem;
    }

    &__title {
        color: $color-DarkBlue;
        margin: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    &__description {
        font-weight: 400;
        color: $color-GrayishBlue;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        margin: 0;
    }
}

.attribution {
    color: $color-DarkBlue;
    font-size: 0.75rem;
    position: fixed;
    bottom: 0.25rem;
}