//colors variables 
$color-BrightOrange: hsl(31, 77%, 52%);
$color-Cyan: hsl(184, 100%, 22%);
$color-DarkCyan: hsl(179, 100%, 13%);
$color-LightWhite: hsla(0, 0%, 100%, 0.75);
$color-LightGray: hsl(0, 0%, 95%); 
$color-White: hsl(0, 0%, 100%); 

//fonts variables
$font-BigShouldersDisplay: 'Big Shoulders Display', cursive;
$font-LexendDeca: 'Lexend Deca', sans-serif;