//colors variables

$color-White: hsl(0, 0%, 100%);
$color-LightGray: hsl(212, 45%, 89%);
$color-GrayishBlue: hsl(220, 15%, 55%);
$color-DarkBlue: hsl(218, 44%, 22%);

//fonts variables
$font-Outfit: 'Outfit', sans-serif;