@import '../abstract/variables';

.card {
    background-color: $color-DesaturatedBlue;
    max-width: 300px;
    border-radius: 0.5rem;
    margin: 1.25rem;

    &__image {
        display: block;
        max-width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        filter: opacity(0.5) drop-shadow(0 0 0 $color-Violet); 
        flex-shrink: 0;
    }

    &__content {
        padding: 1.5rem;
    }

    &__title {
        padding: 0 0.75rem;
        font-size: 1.5rem;
        font-weight: 700;

        strong {
            color: $color-Violet;
        }
    }

    &__description {
        color: $color-SlightlyMain;
        padding: 1rem;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    &__big-numbers {
        @include flex();
    }

    &__informations-numbers {
        @include flex();
        padding: 0.75rem;
    }

    &__numbers {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
        

        &-description {
            font-family: $font-LexentDeca;
            text-transform: uppercase;
            color: $color-SlightlyStat;
            font-size: 0.7rem;
            letter-spacing: 1px;
            font-weight: 400;
        }
    }

}

@media (min-width: 850px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        max-width: 800px;
        max-height: 300px;
        margin: 1rem;
        text-align: left;

        &__image {
            width: 50%;
            border-radius: 0 0.5rem 0.5rem 0;
            flex-shrink: 0;
        }

        &__content {
            padding: 3rem;
        }

        &__title {
            font-size: 1.5rem;
            padding: 0;
        }

        &__description {
            font-size: 0.75rem;
            padding: 1rem 0;
        }

        &__big-numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1rem;
            padding-right: 2.5rem;
        }

        &__informations-numbers {
            padding: 0;
        }

        &__numbers {
            font-size: 1rem;
        }
    }
}

.attribution {
    font-size: 0.75rem;
    margin-top: 1rem;
}